<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="<%= htmlWebpackPlugin.options.viewport %>">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="app">
        <h1><%= htmlWebpackPlugin.options.Keywords %></h1>
    </div>
</body>
</html>
