<template>
  <div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content ">
      <page-header></page-header>
      <!-- pagecontent -->
      <div></div>
      <component :is="lazyLoading"></component>
    </div>
    <dashboard-footer></dashboard-footer>
  </div>
</template>

<script>
import DashboardFooter from './dashboard-footer'
import PageHeader from './page-header'

export default {
  name: 'DashboardWrapper',
  data: () => ({}),
  props: {
    nowPage: String,
  },
  computed: {
    lazyLoading() {
      const name = this.nowPage
      return () => ({
        component: import(`@/components/pages/${name}.vue`),
        delay: 300,
      })
    },
  },
  components: {
    DashboardFooter,
    PageHeader
  },
}
</script>

<style></style>
