<template>
  <div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
      <nav class="navbar navbar-expand-lg navbar-light">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="flex-column collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column" v-for="(menu, index) in menus">
            <li class="nav-divider">
              {{ index }}
            </li>
            <li class="nav-item" v-for="(menu_list, index2) in menu">
              <a
                class="nav-link"
                href="#"
                data-toggle="collapse"
                aria-expanded="false"
                :data-target="'#' + menu_list.span_id"
                :aria-controls="menu_list.span_id"
                @click="sidebarChangePage(index2)"
                ><i class="fa fa-fw fa-user-circle"></i>{{ index2
                }}<span class="badge badge-success">6</span></a
              >
              <div :id="menu_list.span_id" class="collapse submenu">
                <ul class="nav flex-column">
                  <li class="nav-item" v-for="menu_item in menu_list.report">
                    <a
                      class="nav-link"
                      href="#"
                      @click="
                        sidebarChangePage(index2, menu_item.id, menu_item.name)
                      "
                      >{{ menu_item.name }}</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</template>
<script>
const menus = {
  績效表: {
    營業處績效表: {
      span_id: "ASBVQSBTN8X7KJ24N7UEC449KWUXG8HJ",
      report: {
        0: {
          id: "hello",
          name: "營業業績表",
        },
      },
    },
    商品處績效表: {
      span_id: "submenu-2",
      report: {
        0: {
          id: "hello",
          name: "商品業績表",
        },
      },
    },
  },
  銷售報表: {
    銷售統計: {
      span_id: "submenu-3",
      report: {
        0: {
          id: "hello",
          name: "日製電冰箱",
        },
        1: {
          id: "hello",
          name: "滾筒洗衣機",
        },
      },
    },
    單項: {
      span_id: "SDASDSA",
      report: {},
    },
  },
};

export default {
  name: "DashboardSidebar",
  data: () => ({ menus: menus }),
  methods: {
    sidebarChangePage(index, id = "index", item = "首頁") {
      const page = {
        pageBreadcrumb: index,
        pageheaderTitle: item,
        nowPage: id,
      };
      this.$emit("sidebarChangePage", page);
    },
  },
};
</script>
<style></style>
