<template>
       <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-elife fixed-top">
                <a class="dashboard-header-brand" href="index.html"><img src="../assets/images/elife-title.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
</template>
<script>
export default {
    name: 'DashboardHeader',
    data: () => ({  })
}
</script>
<style>
    
</style>