<template>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
            <h2 class="pageheader-title">{{ page.pageheaderTitle }}</h2>
            <div class="page-breadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="./dist/index.html" class="breadcrumb-link">{{ page.pageBreadcrumb }}</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    {{ page.pageBreadcrumbItem }}
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
</template>
    
<script>
export default{
    name: 'pageHeader',
    inject: ['page']
}
</script>
    
<style>
    
</style>