<template>
  <div class="dashboard-main-wrapper">
    <dashboard-header></dashboard-header>
    <dashboard-sidebar @sidebarChangePage="changePage"></dashboard-sidebar>
    <dashboard-wrapper :now-page="nowPage"></dashboard-wrapper>
  </div>
</template>

<script>
import DashboardHeader from "./components/dashboard-header";
import DashboardSidebar from "./components/dashboard-sidebar";
import DashboardWrapper from "./components/dashboard-wrapper";
export default {
  name: "App",
  components: {
    DashboardHeader, DashboardSidebar, DashboardWrapper
  },
  data: () => ({
    pageheaderTitle: "hello",
    pageBreadcrumb: "新消息",
    nowPage: 'index'
  }),
  methods: {
    changePage(page) {
      this.pageheaderTitle = page.pageheaderTitle
      this.pageBreadcrumb = page.pageBreadcrumb
      this.nowPage = page.nowPage
    },
  },
  provide() {
    const page = {};
    Object.defineProperties(page, {
      'pageheaderTitle': {
        enumerable: true,
        get: () => this.pageheaderTitle,
      },
      'pageBreadcrumb': {
        enumerable: true,
        get: () => this.pageBreadcrumb,
      },
      'pageBreadcrumbItem': {
        enumerable: true,
        get: () => this.pageheaderTitle,
      }
    })
    return{ page }
  }
};
</script>

<style>
@import './assets/stylesheets/all.css';
</style>
