/*-----------------------
 Footer
-------------------------*/

.dashboard-footer {
    border-top: 1px solid rgba(152, 166, 173, 0.2);
    padding: 14px 30px 14px;
    color: #71748d;
    background-color: #fff;
    width: 100%;
  
    /*position: absolute; bottom: 0;*/
  }
  
  .dashboard-footer-links {}
  
  .dashboard-footer .dashboard-footer-links a {
    color: #71748d;
    margin-left: 1.5rem;
    -webkit-transition: all .4s;
    transition: all .4s;
  }