/* -----------------------
     Dashboard-cards
-------------------------*/

.dashboard-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    margin-bottom: 30px;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    h1, h2, h3, h4, h5, h6 {
      &:not(.dashboard-card-header){
        color: #3d405c;
        margin: 0px 0px 15px 0px;
        //font-family: 'Circular Std Medium';
      }
    
    }
    h1 {
      font-size: 34px;
    }
    h5 {
      font-size: 15px;
      line-height: 26px;
    }
  }
  
  .dashboard-card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #e6e6f2;
  }
  
  .dashboard-card-title {}
  
  .dashboard-card-subtitle {
    font-size: 14px;
  }
  
  .dashboard-card-body, .dashboard-card-text {}
  
  .dashboard-card-footer {
    border-top: 1px solid #e6e6f2;
    background: #f6f6ff;
  }
  
  .dashboard-card-link {}
  
  .toolbar {
    font-size: 18px;
  }
  
  .dashboard-card-header-title {
    margin: 0;
    line-height: 2;
  }
  
  .dashboard-card-toolbar-tabs {
    .nav.nav-pills .nav-item .nav-link {
      font-size: 14px;
      padding: 6px 10px;
    }
  
    .nav-pills .nav-link.active {
      color: #5969ff;
      background-color: transparent;
    }
  }
  
  .nav-pills .show > .nav-link {
    color: #5969ff;
    background-color: transparent;
  }
  
  /*------------------------- Dashboard-card Varience --------------------------*/
  
  .dashboard-card-figure {
    position: relative;
    padding: 10px;
    border-radius: 2px;
  
    .figure {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 0;
    }
  
    .figure-caption {
      display: block;
      margin-top: 10px;
      font-size: .875rem;
      color: inherit;
    }
  }
  
  .figure-title {
    margin: 0 0 .125rem;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .dashboard-card-figure.has-hoverable {
    -webkit-transition: -webkit-transform .2s, -webkit-box-shadow .2s;
    transition: -webkit-transform .2s, -webkit-box-shadow .2s;
    transition: transform .2s, box-shadow .2s;
    transition: transform .2s, box-shadow .2s, -webkit-transform .2s, -webkit-box-shadow .2s;
  
    &:focus, &:hover {
      -webkit-transform: translate3d(0, -0.25rem, 0);
      transform: translate3d(0, -0.25rem, 0);
      -webkit-box-shadow: 0 5px 15px 0 rgba(61, 70, 79, 0.15);
      box-shadow: 0 5px 15px 0 rgba(61, 70, 79, 0.15);
    }
  }
  
  .figure-img {
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
  
    .img-link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: hsla(0, 0%, 100%, 0.96);
      opacity: 0;
      z-index: 2;
      -webkit-transition: opacity .2s ease;
      transition: opacity .2s ease;
    }
  }
  
  .dashboard-card-figure:hover .img-link {
    opacity: 1;
  }
  
  .figure-img .img-link .tile {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1rem;
    margin-left: -1rem;
  }
  
  .tile.bg-danger {
    color: #fff;
  }
  
  .tile-circle {
    border-radius: 4rem;
  }
  
  .figure-action {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .dashboard-card-figure:hover .figure-action {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 2;
  }
  
  .figure-tools {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: .5rem;
    opacity: 0;
    z-index: 2;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }
  
  .dashboard-card-figure:hover .figure-tools {
    opacity: 1;
  }
  
  .figure-description {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.25rem .5rem;
    background-color: hsla(0, 0%, 100%, 0.96);
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 1;
  }
  
  .dashboard-card-figure:hover .figure-description {
    opacity: 1;
  }
  
  .figure-attachment {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 200px;
    background-color: #f5f5f5;
    overflow: hidden;
  }
  
  .btn-reset {
    padding: 0 2px;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  
  /*------------------------- Dashboard-card Navigation --------------------------*/
  
  .dashboard-card-header-tabs, .dashboard-card-header-pills {}
  
  .pills-regular .dashboard-card-header-pills.nav.nav-pills .nav-item .nav-link.active {
    background-color: #5969ff;
    color: #fff;
  }
  
  @media only screen and (max-width: 768px) {
    .dashboard-influence .dashboard-card-footer-item {
      padding: 11px 54px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .dashboard-influence .dashboard-card-footer-item {
      padding: 11px 48px;
    }
  }