/*-----------------------
Container / Wrapper
-------------------------*/

.dashboard-main-wrapper {
    min-height: 100%;
    padding-top: 60px;
    position: relative;
}

.dashboard-wrapper {
    position: relative;
    left: 0;
    margin-left: 264px;
    min-height: 870px !important;
}

.dashboard-content {
    background-color: #efeff6;
    padding: 30px 30px 60px 30px;
}

@media only screen and (max-width:768px) {
    .dashboard-content {
        padding: 20px 20px 60px 20px;
    }

    .dashboard-wrapper {
        margin-left: 0px;
    }
}

@media only screen and (max-width:480px) {
    .dashboard-content {
        padding: 20px 20px 60px 20px;
    }

    .dashboard-wrapper {
        margin-left: 0px;
    }

}