/*-----------------------
    Metrics
-------------------------*/

.metric-row {
    margin-bottom: 1.25rem;
    border-radius: .25rem;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }
  
  .metric-value {
    margin-bottom: 0;
    line-height: 1;
    white-space: nowrap;
  }
  
  .metric-label {
    font-size: .875rem;
    font-weight: 500;
    color: #686f76;
    white-space: nowrap;
  
    &:last-child {
      margin-top: .5rem;
      margin-bottom: 0;
    }
  }
  
  .metric-value > {
    sub, sup {
      color: #ffa76a;
      font-size: .5em;
    }
  }
  
  .card-metric {
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px rgba(61, 70, 79, 0.05), 0 1px 3px 0 rgba(61, 70, 79, 0.15);
    box-shadow: 0 0 0 1px rgba(61, 70, 79, 0.05), 0 1px 3px 0 rgba(61, 70, 79, 0.15);
  }
  
  .metric-row .metric {
    margin: 8px 0;
    min-height: 136px;
  }
  
  .metric-bordered {
    border: 1px solid #d4d5d7;
  }
  
  .metric-value > sub {
    bottom: 5px;
  }
  
  .metric {
    position: relative;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    border-radius: 4px;
    cursor: default;
  }
  
  .metric-label:last-child {
    margin-top: 12px;
    margin-bottom: 0;
  }