/* -----------------------
Left Navigation Sidebar
------------------------- */

.nav-left-sidebar {
    position: fixed;
    width: 264px;
    height: 100%;
    top: 65px;
    overflow: auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    -webkit-transition: all 0.3s ease;
  
    .nav-link[data-toggle="collapse"] {
      position: relative;
      display: flex;
      align-items: center;
  
      &::after {
        display: inline-block;
        width: 0;
        height: 0;
        position: absolute;
        right: 20px;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
  
      &[aria-expanded="false"]:after {
        transform: rotate(-90deg);
      }
  
      &:after {
        transition: transform .35s ease, opacity .35s ease;
        opacity: .5;
      }
    }
  
    .navbar-nav {
      width: 100%;
    }
  
    .navbar {
      position: relative;
      padding: 14px;
    }
  
    .navbar-nav {
      .nav-item {}
  
      .nav-link {
        font-size: 14px;
        padding: 12px;
  
        /* margin-bottom: 2px; */
        color: #71789e;
        transition: 0.3s;
      }
    }
  
    .nav-link i {
      font-size: 14px;
      margin-right: 9px;
      text-align: center;
      vertical-align: middle;
      line-height: 16px;
    }
  }
  
  .nav-divider {
    padding: 10px 14px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .nav-left-sidebar {
    .submenu {
      padding-left: 12px;
      padding-right: 12px;
  
      /* margin-top: 5px; */
      background: #24274a;
  
      .nav .nav-item .nav-link {
        font-size: 14px;
        padding: 6px 12px;
        transition: 0.3s;
      }
    }
  
    .navbar-nav .nav-link {
      &:focus, &.active, &:focus, &:hover {
        background-color: #e2e2eb;
        color: #3d405c;
        border-radius: 2px;
      }
    }
  
    .submenu .nav .nav-item .nav-link:hover {
      color: #3d405c;
      border-radius: 2px;
      background-color: transparent;
    }
  
    .navbar-toggler {
      background-color: #fff;
    }
  }
  
  .navbar-toggler {
    padding: .25rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
  }
  
  /* -----------------------
  Leftsidebar - Primary
  ------------------------- */
  
  .sidebar-primary {
    background-color: #414da7;
  
    .nav-divider {
      color: #ddddff;
    }
  
    &.nav-left-sidebar {
      .nav-link i {
        color: #8991d4;
      }
  
      .navbar-nav {
        .nav-item {}
  
        .nav-link {
          color: #8991d4;
  
          &:focus, &:hover {
            color: #fff;
            background-color: #5761c2;
            border-radius: 2px;
          }
  
          &:focus, &.active {
            background-color: #5761c2;
            color: #fff;
            border-radius: 2px;
          }
        }
      }
  
      .submenu .nav .nav-item .nav-link:hover {
        color: #fff;
        border-radius: 2px;
        background-color: transparent;
      }
    }
  }
  
  /* -----------------------
  Leftsidebar - dark
  ------------------------- */
  
  .sidebar-dark {
    background-color: #0e0c28;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    -webkit-transition: all 0.3s ease;
  
    .nav-divider {
      color: #a4aadb;
      font-size: 12px;
      letter-spacing: 1px;
    }
  
    &.nav-left-sidebar {
      .nav-link i {
        color: #7a80b4;
      }
  
      .navbar-nav {
        .nav-item {}
  
        .nav-link {
          color: #7a80b4;
  
          &:focus, &:hover {
            color: #fff;
            background-color: #242849;
            border-radius: 2px;
          }
  
          &:focus, &.active {
            background-color: #242849;
            color: #fff;
            border-radius: 2px;
          }
        }
      }
  
      .submenu .nav .nav-item .nav-link:hover {
        color: #fff;
        border-radius: 2px;
        background-color: #242849;
      }
  
      .navbar-nav .nav-item .badge {
        position: absolute;
        right: 40px;
        display: none;
      }
    }
  }

  /* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  
    .nav-left-sidebar {
      .navbar {
        a {
          color: #fff;
          font-size: 18px;
        }
  
        padding: 14px;
      }
  
      width: 100%;
      position: relative;
      top: 0px;
      right: 0px;
    }
  
    .dashboard-wrapper, .dashboard-footer {
      margin-left: 0px;
    }
  
    .nav-left-sidebar .navbar-toggler {
      background-color: #fff;
    }
  }



  @media only screen and (max-width: 480px) {
  
    .nav-left-sidebar {
      .navbar a {
        color: #fff;
      }
  
      .navbar-toggler {
        background-color: #fff;
      }
    }
  
    .aside-header .navbar-toggle {
      display: block;
    }
  
    .nav-left-sidebar {
      .navbar {
        padding: 14px;
      }
  
      width: 100%;
      position: relative;
      top: 0px;
      right: 0px;
    }
  }