/*所有填寫選取表單元素*/

input, select, textarea, button {
    font-family: Arial, Helvetica, sans-serif,Microsoft JhengHei,PMingLiU,MingLiU;
  }
  
  input {
    &[type="text"], &[type="password"] {
      padding: 3px;
      background-color: #fff;
      border-radius: 2px;
      border: solid 1px #d0d0d0;
      font-size: 15px;
    }
  }
  
  select, textarea {
    padding: 3px;
    background-color: #fff;
    border-radius: 2px;
    border: solid 1px #d0d0d0;
    font-size: 15px;
  }
  
  /*所有勾選表單元素*/
  
  input {
    &[type="checkbox"], &[type="radio"] {
      transform: scale(1.2);
      margin-right: 5px;
      margin-left: 10px;
    }
  
    &[type="checkbox"], &[type="radio"] {
      cursor: pointer;
    }
  }
  
  select {
    cursor: pointer;
  }
  
  input:disabled, select:disabled, textarea:disabled {
    cursor: not-allowed;
    color: #999;
    background: #f2f2f2;
  }
  
  /*所有按鈕元素*/
  
  input {
    &[type="button"], &[type="submit"] {
      font-size: 15px;
      border-radius: 3px;
      padding: 3px 8px;
      cursor: pointer;
    }
  
    &[type="button"]:hover, &[type="submit"]:hover {
      opacity: 0.8;
    }
  }
  
  button {
    font-size: 16px;
    border-radius: 3px;
    padding: 4px 10px;
    cursor: pointer;
  
    &:hover {
      opacity: 0.8;
    }
  }
  
  /*表單背景顏色樣式*/
  
  input.bg-red[type="text"], select.bg-red, textarea.bg-red {
    background-color: #FFC0C0;
  }
  
  input.bg-green[type="text"], select.bg-green, textarea.bg-green {
    background-color: #D1FFBE;
  }
  
  input.bg-blue[type="text"], select.bg-blue, textarea.bg-blue {
    background-color: #CBECFD;
  }
  
  input.bg-orange[type="text"], select.bg-orange, textarea.bg-orange {
    background-color: #FFE4BE;
  }
  
  input.bg-purple[type="text"], select.bg-purple, textarea.bg-purple {
    background-color: #D1CCFF;
  }
  
  input.bg-pink[type="text"], select.bg-pink, textarea.bg-pink {
    background-color: #FFDCFF;
  }
  
  input.bg-yellow[type="text"], select.bg-yellow, textarea.bg-yellow {
    background-color: #FFFFC2;
  }
  
  input.bg-white[type="text"], select.bg-white, textarea.bg-white {
    background-color: #fff;
  }
  
  input.bg-gray[type="text"], select.bg-gray, textarea.bg-gray {
    background-color: #e0e0e0;
  }
  
  input.bg-lgray[type="text"], select.bg-lgray, textarea.bg-lgray {
    background-color: #f8f8f8;
  }
  
  input.bg-black[type="text"], select.bg-black, textarea.bg-black {
    background-color: #333;
  }
  
  /*表單外框顏色樣式*/
  
  input.bor-red[type="text"], select.bor-red, textarea.bor-red {
    border: solid 1px #F00;
  }
  
  input.bor-green[type="text"], select.bor-green, textarea.bor-green {
    border: solid 1px #090;
  }
  
  input.bor-blue[type="text"], select.bor-blue, textarea.bor-blue {
    border: solid 1px #06C;
  }
  
  input.bor-orange[type="text"], select.bor-orange, textarea.bor-orange {
    border: solid 1px #F60;
  }
  
  input.bor-purple[type="text"], select.bor-purple, textarea.bor-purple {
    border: solid 1px #60C;
  }
  
  input.bor-pink[type="text"], select.bor-pink, textarea.bor-pink {
    border: solid 1px #F3C;
  }
  
  input.bor-yellow[type="text"], select.bor-yellow, textarea.bor-yellow {
    border: solid 1px #FF0;
  }
  
  input.bor-white[type="text"], select.bor-white, textarea.bor-white {
    border: solid 1px #fff;
  }
  
  input.bor-gray[type="text"], select.bor-gray, textarea.bor-gray {
    border: solid 1px #777;
  }
  
  input.bor-lgray[type="text"], select.bor-lgray, textarea.bor-lgray {
    border: solid 1px #d0d0d0;
  }
  
  input.bor-black[type="text"], select.bor-black, textarea.bor-black {
    border: solid 1px #333;
  }