/*-----------------------
Pageheader
-------------------------*/

.page-header {
    margin-bottom: 30px;
}

.page-breadcrumb {
    .breadcrumb, .breadcrumb-item {}
  
    .breadcrumb-link {
      color: #a6a6b7;
  
      &:hover {
        color: #5969ff;
      }
    }
  
    .breadcrumb {
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0px;
      margin-bottom: 0px;
      list-style: none;
      background-color: transparent;
      border-radius: 0px;
      border-top: 1px solid #e0e4ef;
      padding-top: 10px;
      font-size: 12px;
  
      .breadcrumb-item + .breadcrumb-item::before {
        display: inline-block;
        padding-right: .5rem;
        color: #b1b1c0;
        content: "\f105";
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 600;
      }
    }
  
    .breadcrumb-item.active {
      color: #71728e;
    }
  }
  
  .pageheader-title {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .pageheader-text {
    margin-bottom: 14px;
    display: none;
  }